<h1>Bet Details</h1>
<table>
  <tr>
    <th>Attribute</th>
    <th>Value</th>
  </tr>
  <tr>
    <td><strong>Bet ID</strong></td>
    <td><%= @bet.betid %></td>
  </tr>
  <tr>
    <td><strong>Amount</strong></td>
    <td><%= @bet.stake_amount %></td>
  </tr>
  <tr>
    <td><strong>Predicted Y Value</strong></td>
    <td><%= @bet.predicted_y_value %></td>
  </tr>
  <tr>
    <td><strong>Burst Value</strong></td>
    <td id="burst-value"><!-- Update this value dynamically --></td>
  </tr>
  <tr>
    <td><strong>Outcome</strong></td>
    <td id="outcome-value"><!-- Update this value dynamically --></td>
  </tr>
  
  
</table>

<%= link_to 'Back to Bets', bets_path %>
