<div id="chat-container">
        <div class="card" style="width: 100%">
            <div class="card-header">
                <p class="card-title">Chats</p>
            </div>
            <div class="card-body">          
                 <% if user_signed_in? %>
                    <%= render 'main/Message_form' %>
                 <%end%>
                <ul>
                  <% @messages.each do |message| %>
                    <li> <%=message.content %>
                        
                    </li>
                  <% end %>
                </ul>
               

            </div>
        </div>
    </div>
    </div>
